.splash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $dark;
	color: $light;
	z-index: 10;

	img:first-child {
		width: 8%;

		@include device(sm) {
			width: 16%;
		}
	}

	img:last-child {
		width: 45%;
		margin-top: 2rem;

		@include device(sm) {
			width: 75%;
		}
	}

	img {
		filter: invert(1);
	}
}

.progressBar {
  position: absolute;
  width: 0;
  height: 0.1rem;
  background-color: $light;
  top: 0;
  left: 0;
  transition: width 1s;
}
