.button {
	padding: 1rem 2.625rem;
	background-color: transparent;
	color: $light;
	border: 2px solid $light;
	border-radius: 6rem;
	cursor: pointer;
	@include transition();

	img {
		@include transition();
	}

	&:hover,
	&:focus {
		border-color: $dark-450;
		color: $dark-450;

		img {
			filter: invert(0.4);
		}
	}
}
