.button {
	padding: 0.75rem 2rem;
	background-color: transparent;
	color: $light;
	border: 1px solid #939393;
	border-radius: 6rem;
	cursor: pointer;
	@include transition();

	img {
		@include transition();
	}

	&:hover,
	&:focus {
		color: #939393;

		img {
			filter: invert(0.5);
		}
	}
}
