{
  "extends": ["wesbos"],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/display-name": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "global-require": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "jsx-a11y/label-has-associated-control": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "semi": false,
        "tabWidth": 2,
        "useTabs": false,
        "htmlWhitespaceSensitivity": "css",
        "cssEnable": ["css", "scss", "sass"]
      }
    ]
  }
}
