.header {
	background-color: $dark-500;
	color: $light;
	padding: 12rem 0;

	section:first-of-type {
		margin-bottom: 15rem;

		h6 {
			font-size: 1.5rem;
			color: $dark-400;
			margin-bottom: 1rem;
		}

		h2 {
			width: 60%;
			font-size: 2.8125rem;
		}

		@include device(lg) {
			h2 {
				width: 80%;
			}
		}

		@include device(md) {
			margin-bottom: 3rem;

			h2 {
				width: 100%;
				font-size: 3rem;
			}
		}
	}

	section:last-of-type {
		display: flex;
		width: 65%;
		margin-left: auto;
		margin-right: 8rem;
		font-weight: lighter;
		line-height: 1.5;

		.leftSec {
			flex-basis: 35%;
			flex-shrink: 0;
			margin-right: 1.75rem;
			border-top: 1px solid #b5b5b5;
			font-size: 0.875rem;

			div {
				margin-top: 1.25rem;
			}
		}

		.rightSec {
			margin-top: 1.25rem;

			p {
				font-size: 1.1875rem;

				span {
					display: block;

					&:not(:last-child) {
						margin-bottom: 1.25rem;
					}
				}
			}
		}

		@include device(lg) {
			width: 100%;
		}

		@include device(sm) {
			flex-direction: column;

			.leftSec {
				margin-bottom: 1.5rem;

				div {
					width: 75%;
				}
			}
		}
	}

	@include device(sm) {
		padding: 5.5rem 0;
	}
}
