#member {
  display: inline-block;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .designation {
      flex-basis: 33%;
      margin-right: 2rem;
      border-top: 1px solid $secondary;

      div {
        color: $dark-500;
        font-size: 0.875rem;
        font-weight: lighter;
        margin-top: 1.25rem;
      }
    }

    .description {
      flex-basis: 33%;
      margin-right: 2rem;

      h4 {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        color: $dark-900;
      }

      p {
        font-weight: lighter;
        line-height: 1.5;
        font-size: 0.875rem;
        color: $dark-500;
      }

      .actions {
        display: flex;
        align-items: center;
        margin-top: 1.25rem;

        button {
          background-color: transparent;
          border: 1px solid #898989;
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          padding: 0;
          margin-right: 1rem;
          cursor: pointer;

          img {
            width: 0.75rem;
          }
        }

        img {
          cursor: pointer;
          width: 1.5rem;
        }
      }
    }

    .image {
      img {
        width: 13rem;
      }
    }
  }
}
