.wrapper {
	height: 10vh;

	&.dark {
		background-color: $dark-500;
	}

	&.extraDark {
		background-color: $dark-700;
	}

	padding-top: 1rem;
}

.nav {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	.title {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
		cursor: pointer;

		img {
			width: 2.5rem;
		}

		span {
			margin-left: 1.25rem;
			color: $dark-900;

			@include device(sm) {
				margin-left: 0.5rem;
			}
		}

		&.dark,
		&.extraDark {
			img {
				filter: invert(1);
			}

			span {
				color: $light;
			}
		}
	}

	.menus {
		margin-bottom: 1rem;

		span {
			padding-bottom: 1rem;
			color: $dark;
			cursor: pointer;
			&,
			a {
				color: $dark;
				@include transition();
			}

			&:not(:last-child) {
				margin-right: 1.5rem;
			}

			&:hover,
			&:focus {
				&,
				a {
					color: $dark-450;
				}
			}

			&.active {
				border-bottom: 1px solid $dark-900;
			}
		}

		&.dark,
		&.extraDark {
			span {
				&,
				a {
					color: $light;
				}

				&:hover,
				&:focus {
					&,
					a {
						color: $secondary;
					}
				}

				&.active {
					border-bottom: 1px solid $light;
				}
			}
		}

		@include device(sm) {
			display: none;
		}
	}
}

.separator {
	width: 100%;
	height: 1px;
	background: linear-gradient(
		90deg,
		rgba(130, 130, 130, 0) 0%,
		rgba(130, 130, 130, 1) 100%
	);

	@include device(sm) {
		display: none;
	}
}

.toggler {
	display: none;

	@include device(sm) {
		display: inline-block;
		margin-bottom: 1rem;
	}
}
