.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: $mh;
	// min-height: 30rem;

	.header {
		padding-top: 1rem;
		display: flex;
		justify-content: space-between;
		flex: 0 1 auto;

		.title {
			display: flex;
			align-items: center;
			cursor: pointer;

			img {
				width: 2.5rem;
				filter: invert(1);
			}

			span {
				margin-left: 1.25rem;
				color: $light;

				@include device(sm) {
					margin-left: 0.5rem;
				}

				@include device(xs) {
					display: none;
				}
			}
		}
	}

	.scrollWrapper {
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.menus {
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		flex: 1 1 auto;
		padding-bottom: 2rem;

		> div {
			display: inline-block;
			max-width: max-content;
			font-weight: lighter;
			font-size: 2rem;
			color: $light;
			padding-bottom: 0.25rem;
			cursor: pointer;

			&,
			a {
				color: $light;
			}

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}

			&:hover,
			&:focus {
				&,
				a {
					color: $dark-450;
				}
			}

			&.active {
				border-bottom: 1px solid $light;
			}
		}

		@media (max-width: 321px) {
			padding-bottom: 0;

			> div {
				&:not(:last-child) {
					margin-bottom: 0.75rem;
				}
			}
		}
	}

	.footer {
		flex: 0 1 auto;
		padding: 4rem 0 6rem;
		display: flex;

		section {
			&:first-child {
				width: 55%;
				margin-right: 2.5rem;
			}
		}

		.heading {
			margin-bottom: 1rem;
			font-weight: lighter;
			color: $secondary;
		}

		.address {
			font-weight: lighter;
			line-height: 1.6;
		}

		.socials {
			display: flex;
			align-items: center;

			img {
				display: inline-block;
				width: 1.5rem;
				margin-top: 0.25rem;
				filter: brightness(0) invert(1);

				&:first-child {
					margin-right: 1rem;
				}
			}
		}

		@media (max-width: 321px) {
			padding: 1rem 0 4rem;

			.heading {
				margin-bottom: 0.5rem;
			}
		}
	}
}
