// Colors
$primary: #2c3234;
$secondary: #c5c5c5;
$light: #ffffff;
$dark-400: #ffffffb3;
$dark-500: #555e62;
$dark-600: #424a4d;
$dark: #353f42;
$dark-800: #1d1d1d;
$dark-900: #000000;

// Widths
$spread: 70%;
$limit: 55rem;

// Z-index
$z1: 100;
$z2: 500;
$z3: 999;
$z4: 1000;
$z5: 9999;
