// Colors
$primary: #2c3234;
$secondary: #c5c5c5;
$light: #ffffff;
$dark-400: #ffffffb3;
$dark-450: #818e92;
$dark-500: #555e62;
$dark-600: #424a4d;
$dark: #353f42;
$dark-700: #2c3234;
$dark-800: #414141;
$dark-900: #000000;
$error: #ff3f54;

// Widths
$limit: 90rem;
