@font-face {
	font-family: 'Beausite Classic Web';
	src: url('/public/fonts/BeausiteClassicWeb-Light.woff2') format('woff2'),
		url('/public/fonts/BeausiteClassicWeb-Light.woff') format('woff'),
		url('/yarn.lock') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
