@font-face {
  font-family: "Beausite Classic Web";
  src: url("/fonts/BeausiteClassicWeb-Light.ttf") format("ttf"),
    url("/fonts/BeausiteClassicWeb-Light.woff2") format("woff2"),
    url("/fonts/BeausiteClassicWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
